@using ComponentCommunication.Models
@using ComponentCommunication.Data
@using Microsoft.Extensions.Configuration

@page "/addperson" 


<div>

    <p>Add Person</p>
    <div class="float-right shift-icon">

        <button class="btn btn-success" @onclick="Popup"><span class="oi oi-plus" title="Edit" aria-hidden="true"></span> </button>
        <span>person</span>

    </div>
</div>

@if (ShowPopup)
{
    
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Person</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <input class="form-control" type="text"
                           placeholder="First Name" @bind-value="NewPerson.FirstName" />
                    <input class="form-control" type="text"
                           placeholder="Last Name" @bind-value="NewPerson.LastName" />
                    <input class="form-control" type="text"
                           placeholder="Email" @bind-value="NewPerson.Email" />

                    <br />

                    <button class="btn btn-primary"
                            @onclick="() => OnAddPerson.InvokeAsync(NewPerson)">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    string FirstName;
    string LastName;
    string Email;

    [Parameter]
    public EventCallback<Person> OnAddPerson { get; set; }

    bool ShowPopup = false;
    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }
    void Popup()
    {
        // Close the Popup
        ShowPopup = true;
    }

    Person NewPerson = new Person();


}
